<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
</head>
<body>
	<% include navigation.ejs %>
	<div class="title-container">
	<h1>About</h1>
	<h3>Marjan Marič</h3>	
	</div>	
	<div class="text-about">
		
	<P>
		<div class="avatar-image"></div>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae porta ipsum, molestie faucibus nunc. Nunc tempus rutrum auctor. Donec faucibus dictum urna ut dignissim. Mauris pellentesque hendrerit dui vel volutpat. Integer massa turpis, venenatis eget ipsum vel, tincidunt eleifend tortor. Nullam tortor dolor, mattis nec ornare nec, semper sed lacus. Nullam iaculis vehicula massa vel rhoncus.
<br/>
Nulla condimentum nunc et pulvinar scelerisque. Etiam euismod risus pellentesque nibh euismod fermentum. Sed ullamcorper lectus mi, quis tincidunt tortor tincidunt et. Morbi eu luctus libero. Donec luctus pretium ipsum, et eleifend lectus. Nulla sed consequat felis. Aenean tempor, augue nec ullamcorper efficitur, dui elit hendrerit enim, vel gravida metus dui eu nibh. Phasellus quis sapien tincidunt, aliquam purus vitae, pharetra velit. Morbi aliquet nibh at bibendum dictum. Etiam commodo augue id ante eleifend eleifend. Praesent convallis felis vitae purus vestibulum feugiat. Phasellus id vehicula arcu. Nam viverra blandit neque, vitae varius ipsum sollicitudin sed. Aenean placerat elit vitae mauris luctus, id bibendum mi feugiat.
<br/>
Donec auctor sem ac nisl fermentum tincidunt. Nulla pulvinar mattis tristique. Morbi quis rhoncus sapien, condimentum tincidunt lacus. Pellentesque quis elementum odio, eu scelerisque dolor. Nullam vehicula rutrum est, id semper risus congue id. Aenean at nibh semper, ullamcorper lectus quis, hendrerit lectus. Nulla feugiat eu nisi lacinia imperdiet. Suspendisse sodales purus et finibus mollis. Donec a maximus arcu. Duis dictum, enim vehicula faucibus pharetra, quam nisi sodales augue, fermentum aliquam justo neque et augue. Quisque efficitur felis vitae augue ultricies, sit amet imperdiet sem lacinia. Nam quis ipsum in mi varius condimentum. Nam suscipit lorem tellus, sit amet sollicitudin magna varius ac. Vestibulum aliquet mi non elementum varius.</P>
	</div>
	<div class="cta-container">
	<div class="cta-button">Hire me!</div>
	<br/>
	<div class="form-container">
	<form>
		<div class="form-block">
			<div class="label-container">
			<label>Email</label>
			</div>
			<input class="form-element" type="email"/>
		</div>	
		<div lass="form-block">
			<div class="label-container">
			<label>Name</label>
			</div>	
			<input class="form-element" type="email">
		</div>
		<div class="form-block">
			<div class="label-container">
			<label>Company</label>
			</div>	
			<input class="form-element" type="text">
		</div>
		<div class="form-block">
		<div class="label-container">	
		<label>Job description</label>	
			</div>	
		<textarea class="form-element"></textarea>
		</div>	
		<div class="form-block">
		<label>Budget</label><br/>
		<div class="label-container"><label>From:</label></div><input type="number" class="form-element">
		<div class="label-container"><label>To:</label></div><input type="number" class="form-element">
		</div> 
		</form>
		<div class="submit-button">Submit</div>
		</div>
	</div>
	<% include footer.ejs %>
</body>	

</html>


