<!DOCTYPE html>
<html>
	<% include header.ejs %>
<body>
	<% include navigation.ejs %>
	
	<h1><%- article.title %></h1>
	<p><%- article.body %></p>
	<script src="/static/js/main.js"></script>
</body>	

</html>