body{
	font-family: sans-serif;
	margin: 0;
}

.post-title{
	
	font-size: 18px;
	font-weight: 300px;
}
.post-container{
	width:49%;
	display:inline-block;
	padding: 10px;
	box-sizing: border-box;
}

.page-list{
	
	text-align: center;
}

.page-list li{
	padding:3px;
	border-radius: 3px;
	box-shadow: 0 0 3px #777;
	font-weight: 300;
	color:#444;
	display:inline-block;
	list-style: none;
}

.load-indicator{
	
	text-align: center;
	display: none;
}

.nav-container{
	
	font-size: 0px;
	text-align: center;
}

.nav-container .nav-button{
	
	display: inline-block;
	padding: 5px 10px;
	border-radius: 4px;
	background-color: #eee;
	font-size: 16px;
	margin-left: 5px;
	
}

.nav-container .selected{
	
	border-bottom:2px solid #aaa;
}

.footer-container{
	
	width:100%;
	height: 200px;
	background-color: #333;
}

.avatar-image{
	width: 200px;
	height: 240px;
	background-color: #ccc;
	float:left;
	margin:10px;
}
.text-about{
	
	overflow: auto;
}


.cta-button{
	
	padding:10px 20px;
	border-radius: 5px;
	background-color: mediumseagreen;
	color:#fff;
	font-size: 18px;
	font-weight: 100;
	display: inline-block;
	margin-bottom: 20px;
}

.cta-container{
	
	text-align: center;
}

.title-container{
	
	text-align: center;
}


.form-element{
	
	padding:10px; 20px;
	font-size: 18px;
	font-weight: 100;
	border-radius: 4px;
	border:1px solid #eee;
}

.cta-container{
	
	text-align: center;
}

.cta-button{
	font-family: sans-serif;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: mediumseagreen;
	color:#fff;
	font-size: 18px;
}

.submit-button{
	font-family: sans-serif;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: mediumseagreen;
	color:#fff;
	font-size: 18px;
	font-weight: 100;
	display: inline-block;
	margin: 2opx;
	width: 200px;
}




















